* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;

  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6rem;
  color: #888ba3;

  background-image: url("img/background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;

  color: #565869;
}

button {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6rem;
  color: #888ba3;

  cursor: pointer;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
    border: none;
  }
}

em {
  color: var(--color-primary);
  font-weight: 400px;
}
